body {
  font-family: Gill Sans;
  background-image: url("bible.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-color: darkgrey;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: white;
  text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;}

h2 {
  margin-right: 12px;
}

h3 {
  margin-right: 12px;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  text-align: center;
  align-content: center;
}

.form-item {
  margin-right: 1.8rem;
  border: solid;
  padding: 5px;
  border-color: black;
  border width: 5px;
  background-color: lightgrey;
  border-radius: 4px;

}

label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

#verses-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  flex-direction: row;
  flex-basis: auto;
  padding: 5px;
  margin: 5px;
}

.verses-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #20437c;
  padding: 5px;
  margin: 5px;
  border-radius: 5%;
  background-color: lightgrey;
  list-style-type: none;
}
